<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error 403</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-black">
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="text-center mb-4">Error 403</h5>
      <p th:with="firstRole=${#authentication.authorities[0].authority.substring(5)}" class="text-center" th:text="${'Role ' + firstRole + ' has no access to this operation'}"></p>
      <div class="text-center">
        <a href="/bicycles" class="btn btn-primary">Back to Home</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

